body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #800080;
  overflow-x: hidden;
  padding-top: 15%;
  text-align: center;
}

.sidenav a {
  padding: 12px 8px 12px;
  text-decoration: none;
  font-size: 25px;
  color: #ffb84d;
  display: block;
}

.sidenav a:hover {
  color: white;
}

.main {
  padding: 15px 15px 15px 15px;
  margin-left: 205px; 
  font-size: 16px; 
}

.change {
  background-color: #4CAF50;
  color: white;
  padding: 8px 8px;
  margin-right: 280px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: white;
}

input[type=text],input[type=password] {
  padding: 8px 8px 8px 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}


