body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #800080;
  overflow-x: hidden;
  padding-top: 15%;
  text-align: center;
}

.sidenav a {
  padding: 12px 8px 12px;
  text-decoration: none;
  font-size: 25px;
  color: #ffb84d;
  display: block;
}

.sidenav a:hover {
  color: white;
}

.main {
  margin-left: 205px; 
  font-size: 20px; 
  padding: 0px 10px;
}

th, td {
  border: 1px solid black;
  padding: 1px;
  width: 25%;
}

table {
  border-spacing: 5px;
  width: 50%;
  border: 1px solid black;
  padding: 1px;
}

input{
  border: none;
  font-size: 16px;
  color: black;
}

input:focus{
outline: none;
font-size: 16px;
}

.submit {
  margin-top: 10px;
  background-color: #ffb84d;
  color: white;
  padding: 12px 20px;
  margin-right: 280px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

.submit:hover {
  background-color: #800080;
}