* {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  overflow: auto;
}
input[type=text], input[type=password], input[type=number], select, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 40%;
  position: fixed;
  width: 40%;
  left: 30%;
  top: 15%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 0px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

.heading {
    text-align: center;
    padding: 5px 5px 5px 5px;
}

.register {
  left: 0;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin-right: 280px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

.login:hover {
  background-color: #45a049;
}

.login {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  right: 0;
  float: right;
}

.register:hover {
  background-color: #45a049;
}

a {
    text-decoration: none;
    color: white;
}